html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing:inherit;
}

html {
  background-image: url('https://s3-ap-northeast-1.amazonaws.com/okinawaclips3/ja/images/6578.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

header {
  height: 200px;
  border: 1px solid gray;
  margin-bottom: 40px;
}

header img {
  height: 140px;
  width: 400px;
  margin-left: 30px;
}

header h2 {
  display: inline-block;
  margin-right: 20px;
}

/* quiz area styling */
.quiz {
  width: 85%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  color: darkblue;
  text-align: center;
}

#car-image {
  height: 300px;
  width: 400px;
  margin-top: 20px;
}

#stop-sign {
  position: relative;
  left: 20px;
  bottom: 100px;
  height: 120px;
  width: 120px;
}

/* the start button */
.startQuiz {
  color:blueviolet;
  background-color:#ccffcc;
  height: 40px;
  width: 30%;
  max-width: 270px;
  min-width: 180px;
  font-size: 18px;
  border: 2px solid lightgreen;
  box-shadow: 5px 0px 10px lightgreen;
}

label {
  background-color: transparent;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

label:hover {
  background-color: blue;
  opacity: 0.5;
  color: yellow;
  font-size: 130%;
  border-radius: 2px;
  line-height: 40px;
}

.correct {
  color: rgb(45, 177, 45);
}

.incorrect {
  color: red;
}

.feedback-image {
  height: 300px;
  width: 400px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

form button {
  background-color: transparent;
  color: black;
  height: 30px;
  width: 120px;
  font-size: 22px;
  margin-top: 30px;
  border: 3px solid white;
}

.nextOne {
  background-color: transparent;
  height: 30px;
  width: 160px;
  font-size: 20px;
  margin-top: 30px;
}

button:hover {
  background-color: yellow;
  color: blueviolet;
  cursor: pointer;
}

.question {
  margin-bottom: 30px;
}

.report {
  margin-top: 50px;
}

#retake {
  height: 90px;
  width: 100px;
}

.backHome {
  height: 30px;
  width: 100px;
  margin-top: 40px;
  background-color: rgb(33, 185, 33);
  color: white;
}

footer {
  float: right;
  font-family: 'arial','helvetica',serif;
  margin-right: 20px;
  margin-top: 60px;
}

@media screen and (max-width:750px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #stop-sign {
    display: none;
  }
}

@media screen and (min-width:750px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #stop-sign {
    position: relative;
    left: 20px;
    bottom: 100px;
    height: 120px;
    width: 120px;
  }

  .quiz {
    height: 320px;
  }
}

@media screen and (min-width:1200px) {
  header {
    display:flex;
    flex-direction: row;
  }

  header .score {
    position: absolute;
    color: #1c2833;
    right: 30px;
    top: 20px;
  }

  .quiz {
    height: 360px;
  }
}
